/*
los fg son para textos.
nfg_color: el texto de los botones

bg menu:#404040
hover:#282828;

base_color:#ffffff  // color base del sistema si el tema es claro aconsejo dejarlo en blanco y si es oscuro del background
nbg_color:#f2f1f0  // background del sistema
ntooltip_bg_color:#000000 // tooltips "consejos" del sistema
nselected_bg_color:#f07746 // objetos seleccionados
ntext_color:#3C3C3C // color del texto de cajas de texto
nfg_color:#4c4c4c // texto en general del sitio.
ntooltip_fg_color:#ffffff //texto de los tooltips "consejos"
nselected_fg_color:#ffffff //texto de los objetos seleccionados
nlink_color:#DD4814  // color de los objetos resaltados
nbg_color_dark:#3c3b37 //color del los backgrounds del sistema cuando se pide en oscuro
nfg_color_dark:#dfdbd2  //color del los textos del sistema cuando se pide en oscuro


*/

/*color de las ventanas y sombras internas de las ventanas*/
*:insensitive{color:alpha(@fg_color, 0.5); text-shadow: 0 1px alpha (shade (@bg_color, 1.25), 0.1);}

GtkWidget{background:@base_color; box-shadow: inset 0px 0px 48px 48px rgba(44, 44, 44, 0.28);}
GtkWidget:backdrop{background:mix (@bg_color, #FFFFFF, 0.13);}
GtkWidget *{background:none;box-shadow:none;}
GtkWidget:backdrop *{background:none; box-shadow:none;}

/*Fondos negros, modificar esta propiedad
GtkContainer{background:none}*/




/*****************Botones****************/
.button,
.button:focus,
.button:hover,
.button:hover:focus{ 
	background:url("assets/metal.png") center center;
 	border:4px solid transparent;
 	border-image: url("assets/button.png") 6 4 4 4 / 6px 4px 4px 4px stretch;
 	border-radius:0px;
 	box-shadow:none;
 	text-shadow: 0px -1px 0px rgba(0,0,0,0.5);
 	background-clip: padding-box;
 }
 .button:backdrop,
 .button:hover:backdrop,
 .button:insensitive,
 .button:insensitive:backdrop{
 	background:url("assets/metal-backdrop.png") center center;
 	border:4px solid transparent;
 	border-image: url("assets/backdrop-button.png") 6 4 4 4 / 6px 4px 4px 4px stretch;
 	background-clip: padding-box;
 }

.button:hover{background-color:mix(@selected_bg_color,#000000,0.6);}
.button:hover:focus{background-color:mix(@selected_bg_color,#000000,0.6);}
.button:hover:backdrop{background-color:mix(@selected_bg_color,#000000,0.4);}

.button:active,
.button:active:hover,
.button:active:focus,
.button:active:hover:focus,
.button:active:insensitive{
	background:url("assets/metal.png") center center;
	background-color:mix(@link_color,#000000,0.4;
 	border:4px solid transparent;
 	border-image:url("assets/button-active.png") 6 5 5 5 / 6px 5px 5px 5px stretch;
 	background-clip: padding-box;
}

.button:active:backdrop,
.button:active:hover:backdrop,
.button:active:insensitive,
.button:active:insensitive:backdrop{
	background:url("assets/metal-backdrop.png") center center;
 	border:4px solid transparent;
 	border-image: url("assets/button-active-backdrop.png") 6 5 5 5 / 6px 5px 5px 5px stretch;
 	background-clip: padding-box;
}

.button:active,
.button:active:focus,
.button:active:hover:focus,
.button.default:hover{background-color:mix(@link_color,#000000,0.6);}


.button.default,
.button:focus,
.button.default:hover,
.button.default:focus:hover{
	background:url("assets/metal.png") center center;
 	border:4px solid transparent;
 	border-image: url("assets/button-default.png") 6 4 4 4 / 6px 4px 4px 4px stretch;
 	border-radius:0px;
 	box-shadow:none;
 	text-shadow: 0px -1px 0px rgba(0,0,0,0.5);
 	background-clip: padding-box;
}

.button.default:focus:hover{background-color:mix(@link_color,#000000,0.6);}
.button.default:active:focus:hover{border-image:url("assets/button-active.png") 6 5 5 5 / 6px 5px 5px 5px stretch;}

.button GtkLabel{background:none; text-shadow: 0px -1px 0px rgba(0,0,0,0.5); box-shadow:none;}



/*****************Botoneras****************/
.primary-toolbar .linked .entry,
.primary-toolbar .linked .button,
.primary-toolbar .linked .button:active,
.primary-toolbar .linked .button:active:hover,
.primary-toolbar .linked .button:insensitive,
.linked .button,
.toolbar .button.raised.linked,
.toolbar .raised.linked .button,
.inline-toolbar.toolbar .button,
.inline-toolbar.toolbar GtkToolButton .button,
.linked .button,
.linked .button:hover,
.linked .button:active:hover,
.linked .button:insensitive,
.linked .button:active:hover:insensitive,
.toolbar .button.raised.linked,
.toolbar .raised.linked .button,
.inline-toolbar.toolbar .button,
.inline-toolbar.toolbar GtkToolButton .button,.linked .button:active,
.toolbar .button.raised.linked:active,
.toolbar .raised.linked .button:active,
.inline-toolbar.toolbar .button:active,
.inline-toolbar.toolbar GtkToolButton .button:active,
.linked .button:insensitive,
.toolbar .button.raised.linked:insensitive,
.toolbar .raised.linked .button:insensitive,
.inline-toolbar.toolbar .button:insensitive,
.inline-toolbar.toolbar GtkToolButton .button:insensitive,
.linked .button:backdrop,
.toolbar .button.raised.linked:backdrop,
.toolbar .raised.linked .button:backdrop,
.inline-toolbar.toolbar .button:backdrop,
.inline-toolbar.toolbar GtkToolButton .button:backdrop,
.linked .button:insensitive:backdrop,
.toolbar .button.raised.linked:insensitive:backdrop,
.toolbar .raised.linked .button:insensitive:backdrop,
.inline-toolbar.toolbar .button:insensitive:backdrop,
.inline-toolbar.toolbar GtkToolButton .button:insensitive:backdrop{
	background:url("assets/metal.png") center center;
	background-color:transparent;
 	border:4px solid transparent;
 	border-width:4px 0px;
 	border-image:url("assets/button.png") 6 4 4 4 / 6px 0px 4px 0px stretch;
 	border-radius:0px;
 	text-shadow: 0px -1px 0px rgba(0,0,0,0.5);
 	background-clip: padding-box;
 	box-shadow: inset 2px 0px 0px 0px shade(@fg_color, 0.52),
    			inset 1px 0px 0px 0px shade(@fg_color, 0.35);
}

.linked .button:first-child,
.linked .button:active:first-child,
.linked .button:active:hover:first-child,
.linked .button:insensitive:first-child,
.linked .button:active:hover:insensitive:first-child,
.linked .button:focus:first-child,
.linked .button:active:focus:first-child,
.toolbar .button.raised.linked:first-child,
.toolbar .button.raised.linked:active:first-child,
.toolbar .raised.linked .button:first-child,
.inline-toolbar.toolbar .button:first-child,
.inline-toolbar.toolbar GtkToolButton:first-child .button,
.primary-toolbar .linked .button:first-child,
.primary-toolbar .linked .button:active:hover:first-child,
.primary-toolbar .button.raised.linked:first-child,
.primary-toolbar .raised.linked .button:active:first-child,
.primary-toolbar .raised.linked .button:active:focus:first-child,
.primary-toolbar .raised.linked .button:first-child
 {
	background:url("assets/metal.png") center center;
	background-color:transparent;
 	border:4px solid transparent;
 	border-width:4px 0px 4px 4px;
 	border-image:url("assets/button.png") 6 4 4 4 / 6px 0px 4px 4px stretch;
 	border-radius:0px;
 	text-shadow: 0px -1px 0px rgba(0,0,0,0.5);
 	background-clip: padding-box;
 	box-shadow: none;
}

.linked .button:last-child,
.linked .button:active:last-child,
.linked .button:active:hover:last-child,
.linked .button:active:hover:insensitive:last-child,
.toolbar .button.raised.linked:last-child,
.toolbar .raised.linked .button:last-child,
.inline-toolbar.toolbar .button:last-child,
.inline-toolbar.toolbar GtkToolButton:last-child .button,
.primary-toolbar .linked .button:last-child,
.primary-toolbar .linked .button:active:hover:last-child,
.primary-toolbar .button.raised.linked:last-child,
.primary-toolbar .raised.linked .button:last-child {
	background:url("assets/metal.png") center center;
	background-color:transparent;
 	border:4px solid transparent;
 	border-width:4px 4px 4px 0px;
 	border-image:url("assets/button.png") 6 4 4 4 / 6px 4px 4px 0px stretch;
 	border-radius:0px;
 	text-shadow: 0px -1px 0px rgba(0,0,0,0.5);
 	background-clip: padding-box;
 	box-shadow: inset 2px 0px 0px 0px shade(@fg_color, 0.52),
    			inset 1px 0px 0px 0px shade(@fg_color, 0.35);
}
.linked .button:active,
.primary-toolbar .linked .button:active,
.primary-toolbar .button.raised.linked:active,
.primary-toolbar .raised.linked .button:active,
.primary-toolbar .linked .button:insensitive,
.primary-toolbar .button.raised.linked:insensitive,
.primary-toolbar .raised.linked .button:insensitive,
.primary-toolbar .linked .button:backdrop:last-child,
.primary-toolbar .button.raised.linked:backdrop:last-child,
.primary-toolbar .raised.linked .button:backdrop:last-child{
 	box-shadow: inset 2px 0px 0px 0px shade(@fg_color, 0.52),
    			inset 1px 0px 0px 0px shade(@fg_color, 0.35);
}


/* Linked single button */
.primary-toolbar .linked .entry:only-child,
.primary-toolbar .linked .button:only-child,
.primary-toolbar .linked .button:active:only-child,
.primary-toolbar .linked .button:active:hover:only-child,
.primary-toolbar .linked .button:insensitive:only-child {
	background:url("assets/metal.png") center center;
	background-color:transparent;
 	border:4px solid transparent;
 	border-width:4px;
 	border-image:url("assets/button.png") 6 4 4 4 / 6px 4px 4px 4px stretch;
 	border-radius:0px;
 	text-shadow: 0px -1px 0px rgba(0,0,0,0.5);
 	background-clip: padding-box;
 	box-shadow: none;
    
}
.linked .button:active,
.linked .button:active:hover,
.linked .button:hover:insensitive,
.linked .button:active:hover:insensitive,
.linked .button:active:first-child,
.linked .button:active:hover:first-child,
.linked .button:hover:insensitive:first-child,
.linked .button:active:hover:insensitive:first-child,
.linked .button:active:last-child,
.linked .button:active:hover:last-child,
.linked .button:hover:insensitive:last-child,
.linked .button:active:hover:insensitive:last-child,
.primary-toolbar .linked .entry:hover:only-child,
.primary-toolbar .linked .button:hover:only-child,
.primary-toolbar .linked .button:active:only-child,
.primary-toolbar .linked .button:active:hover:only-child,
.primary-toolbar .linked .button:active:focus:hover:only-child,
.primary-toolbar .linked .button:focus:hover:only-child,
.primary-toolbar .linked .entry:hover,
.primary-toolbar .linked .button:hover,
.primary-toolbar .linked .button:active:hover,
.primary-toolbar .linked .button:active:hover:hover,
.primary-toolbar .linked .button:insensitive:hover,
.linked .button:hover,
.toolbar .button.raised.linked:hover,
.toolbar .raised.linked .button:hover,
.inline-toolbar.toolbar .button:hover,
.inline-toolbar.toolbar GtkToolButton .button:hover{
	background-color:mix(@selected_bg_color,#000000,0.6);
}


/****************
 * cell and row *
 ****************/
.cell {
    -GtkCheckButton-indicator-size: 16;
    -GtkWidget-focus-line-width: 0;
    background:@bg_color;
    border:none;
    padding:0px;
    box-shadow:none;
}
row:hover,
row:hover:focused{background:mix(@selected_bg_color,@bg_color,0.95); border:none;}

row:selected,
row:active,
row:insensitive,
row:selected:insensitive,
row:selected:backdrop,
row:selected:focused,
row:selected:backdrop{background:mix(@selected_bg_color,#000000,0.35); border:none; }

/*******************
 * check and radio *
 *******************/
.check,
.radio,
.check:insensitive,
.radio:insensitive{
    background-color: transparent;
    border-style: none;
    margin: 1px 0;
}

GtkCheckButton:hover,
GtkCheckButton:active:hover,
GtkCheckButton:selected,
GtkCheckButton:selected:focus {
    background-color: transparent;
}

.menu .radio * {
    box-shadow: none;
}

/*****************
 * column-header *
 *****************/
GtkGrid{background:#DC55BA}
column-header .button,
column-header .button:hover,
column-header .button:active,
column-header .button:focus,
column-header .button:hover:focus,
column-header .button:active:focus,
column-header .button:active:hover:focus,
column-header:nth-child(last) .button,
column-header .button:backdrop,
column-header .button:hover:backdrop,
column-header .button:active:backdrop,
column-header .button:focus:backdrop,
column-header .button:hover:focus:backdrop,
column-header .button:active:focus:backdrop,
column-header .button:active:hover:focus:backdrop,
column-header:nth-child(last) .button:backdrop{
	background:none;
 	border:none;
 	border-image:none;
 	border-radius:0px;
 	box-shadow: inset -1px 0 alpha(@fg_color, 0.07),
                inset 0 -1px alpha(@fg_color, 0.07);
 	text-shadow: 0px -1px 0px rgba(0,0,0,0.5);
 	background-clip: padding-box;
    padding: 5px 6px;
}
column-header .button:active,
column-header .button:focus,
column-header .button:active:focus,
column-header .button:active:hover:focus,
column-header .button:hover:focus,
column-header .button:focused{
	background:-gtk-gradient (linear, 0 0, 0 1, color-stop(0.84, transparent), color-stop(0.84, mix(@selected_bg_color,#000000,0.35)), color-stop(1, mix(@selected_bg_color,#000000,0.35)));
	box-shadow: inset -1px 0 alpha(@fg_color, 0.07),
                inset 0 -1px alpha(@fg_color, 0.07);
	padding: 5px 6px;
}
column-header .button:hover,
column-header .button:active:hover,
column-header .button:focus:hover{
	background:mix(@selected_bg_color,#000000,0.35); border:none;
	padding: 5px 6px;
}

/********
 * menu y listas *
 ********/
.menubar{background:none; padding:0px;}

;
*.menu,
.toolbar .primary-toolbar .menu,
GtkMenuToolButton.menu,
.primary-toolbar .button .menu,
.menu {
	background:#373737; 
	border:none;
	border-image:none;
	border:none;
	box-shadow:none;
	padding:0px;
}

.toolbar .menu,
GtkComboBox .menu {
		color:#e3e3e3;
		padding:0px;
		border-radius:0px;
}

.menuitem {
		border-radius:0;
		border-style: solid;
		border-width:0px;
		padding: 3px 2px 3px 2px;
		text-shadow: none;
		color:mix (@fg_color, #000000, 0.05);
		text-shadow: 0px 1px 0px rgba(0,0,0,0.5);
}

.unity-panel.menubar.menuitem:hover,
.unity-panel.menubar .menuitem *:hover,
.menubar.menuitem:hover,
.menubar .menuitem:hover {
	/*background:mix (@bg_color, #33b5e5, 0.15);*/
	background:#373737; 
	border-image:none;
	border-radius:0px;
	/*border-bottom:4px solid #33b5e5;*/
	color:@fg_color;
}


/*separadores en los menus*/
GtkTreeMenu .menuitem.separator,
.toolbar .primary-toolbar .menuitem.separator,
GtkMenuToolButton .menuitem.separator,
.primary-toolbar .button .menuitem.separator,
.menuitem.separator {
	border-width: 1px 0 1px 0;
	border-image: url("assets/bg-sep-h.png") 1 0 1 0 stretch;
}

/*combox listas desplegables*/
GtkComboBox .menuitem * {
		color:#e3e3e3;
		border:none;
		margin:0px;
		background:none;

}
.menuitem:hover,
.menu .menuitem:hover {
		background:rgba(0,0,0,0.2);
		border-radius:0px;
		border:0px;
		background-image:none;
		border-image:none;
		border-image-width: 0px;
		color: @selected_fg_color;
		box-shadow:none;
		text-shadow:none;
}
GtkComboBox .menuitem *:hover {
	color: #efefef;
}

 

/****************************Tabs************************/

.notebook{background:none; background-clip: border-box; border-radius:0px; border:none; padding:0px;}
.notebook tab{
	background:none;
	border:none;
	box-shadow:none;
	-unico-focus-border-color:transparent;
	-unico-focus-fill-color:transparent;
	-unico-focus-border-width:0px;
	padding:10px 0px;
}
.notebook tab GtkLabel{background:none; border:none; padding:0px 35px; text-shadow: 0px 1px 0px rgba(0,0,0,0.5);}

.notebook tab.top{border:none; border-image:url("assets/notebook-tab-active.png") 0 1 0 0 / 10px 1px 10px 0px stretch; padding:10px 0px;}
.notebook tab.top:active {background:-gtk-gradient (linear, 0 0, 0 1, color-stop(0.84, transparent), color-stop(0.84, @selected_bg_color), color-stop(1, @selected_bg_color)); border-left-width:0px; border-image: url("assets/notebook-tab-active.png") 0 1 0 0 / 10px 1px 10px 0px; background-clip: border-box;  padding:10px 0px;}

.notebook tab.right{border:none; border-image:url("assets/notebook-tab-active.png") 0 0 1 0 / 0px 10px 1px 10px stretch; padding:8px 0px;}
.notebook tab.right:active {background:-gtk-gradient (linear, 1 0, 0 0, color-stop(0.95, transparent), color-stop(0.95, @selected_bg_color), color-stop(1, @selected_bg_color)); border-left-width:0px; border-image: url("assets/notebook-tab-active.png") 0 0 1 0 / 0px 10px 1px 10px; background-clip: border-box; padding:8px 0px;}

.notebook tab.bottom{border:none; border-image:url("assets/notebook-tab-active.png") 0 1 0 0 / 10px 1px 10px 0px stretch; padding:10px 0px;}
.notebook tab.bottom:active {background:-gtk-gradient (linear, 0 1, 0 0, color-stop(0.84, transparent), color-stop(0.84, @selected_bg_color), color-stop(1, @selected_bg_color)); border-left-width:0px; border-image: url("assets/notebook-tab-active.png") 0 1 0 0 / 10px 1px 10px 0px; background-clip: border-box; padding:10px 0px;}

.notebook tab.left{border:none; border-image:url("assets/notebook-tab-active.png") 0 0 1 0 / 0px 10px 1px 10px stretch; padding:8px 0px;}
.notebook tab.left:active {background:-gtk-gradient (linear, 0 0, 1 0, color-stop(0.95, transparent), color-stop(0.95, @selected_bg_color), color-stop(1, @selected_bg_color)); border-left-width:0px; border-image: url("assets/notebook-tab-active.png") 0 0 1 0 / 0px 10px 1px 10px; background-clip: border-box; padding:8px 0px;}





/*********
 * cajas de texto *
 *********/



/**************
Reproductor

 * spinbutton *
 *************
.spinbutton.button:active,*/



/***********
 * toolbar *
 ***********/
.primary-toolbar.toolbar,
.primary-toolbar.toolbar:backdrop{background:none; border:none; box-shadow:none;}

/* Single button */
.primary-toolbar.toolbar .button:only-child,
.primary-toolbar.toolbar .button:active:only-child,
.primary-toolbar.toolbar .button:focus:only-child,
.primary-toolbar.toolbar .button:focus:active:only-child,
.primary-toolbar.toolbar .button:insensitive:only-child,
.primary-toolbar.toolbar .button:backdrop:only-child,
.primary-toolbar.toolbar .button:backdrop:insensitive:only-child,
.primary-toolbar.toolbar GtkToolButton:only-child .button,
.primary-toolbar.toolbar GtkToolButton:only-child .button:active,
.primary-toolbar.toolbar GtkToolButton:only-child .button:focus,
.primary-toolbar.toolbar GtkToolButton:only-child .button:focus:active,
.primary-toolbar.toolbar GtkToolButton:only-child .button:insensitive,
.primary-toolbar.toolbar GtkToolButton:only-child .button:backdrop,
.primary-toolbar.toolbar GtkToolButton:only-child .button:backdrop:insensitive,
.inline-toolbar.toolbar .button:only-child,
.inline-toolbar.toolbar .button:active:only-child,
.inline-toolbar.toolbar .button:focus:only-child,
.inline-toolbar.toolbar .button:focus:active:only-child,
.inline-toolbar.toolbar .button:insensitive:only-child,
.inline-toolbar.toolbar .button:backdrop:only-child,
.inline-toolbar.toolbar .button:backdrop:insensitive:only-child,
.inline-toolbar.toolbar GtkToolButton:only-child .button,
.inline-toolbar.toolbar GtkToolButton:only-child .button:active,
.inline-toolbar.toolbar GtkToolButton:only-child .button:focus,
.inline-toolbar.toolbar GtkToolButton:only-child .button:focus:active,
.inline-toolbar.toolbar GtkToolButton:only-child .button:insensitive,
.inline-toolbar.toolbar GtkToolButton:only-child .button:backdrop,
.inline-toolbar.toolbar GtkToolButton:only-child .button:backdrop:insensitive {
	background:url("assets/metal.png") center center;
	background-color:transparent;
 	border:4px solid transparent;
 	border-width:4px;
 	border-image:url("assets/button.png") 6 4 4 4 / 6px 4px 4px 4px stretch;
 	border-radius:0px;
 	text-shadow: 0px -1px 0px rgba(0,0,0,0.5);
 	background-clip: padding-box;
 	box-shadow: none;
}


/*Unity*/
.unity-panel{
	background-image:#bg_color;
	border:none;
	border-image:none;
	color:mix (@fg_color, #000000, 0.05);
	text-shadow: 0px 1px 0px rgba(0,0,0,0.5);
}
.unity-panel:backdrop,
.unity-panel:active,
.unity-panel:hover,
.unity-panel:focus{background-image:#bg_color; border-image:none;}


/*Nautilus*/
NautilusWindow GtkContainer{background:@base_color; box-shadow: inset 0px 0px 48px 48px rgba(44, 44, 44, 0.28);}
/* darle bg al contenededor
NautilusWindow *{	background-color: #484848; 
	box-shadow: inset 0px 0px 48px 48px rgba(44, 44, 44, 0.28);}
*/
