UnityPanelWidget,
.unity-panel{
    background-color:@bg_color;
    border:none;
    color:mix (@fg_color, #000000, 0.05);
    text-shadow: 0px 1px 0px rgba(0,0,0,0.5);
}

.unity-panel.menubar,
.unity-panel .menubar {
}

.unity-panel.menuitem,
.unity-panel .menuitem {
     background-color:transparent;
     box-shadow:none;
     border:none;
}

.unity-panel.menubar.menuitem:hover,
.unity-panel.menubar .menuitem *:hover {
    background-image: -gtk-gradient (linear, 0 0, 0 1,
                                     from (transparent),
                                     to (alpha(@selected_bg_color,0.1)));
    background-color:transparent;
    border-radius:4px 4px 0 0;
    border-color:transparent;
    border-width:0px;
    border-bottom:2px solid @selected_bg_color;
    color: shade (@dark_fg_color, 1.1);
    text-shadow: 0 -1px shade (@dark_bg_color, 0.7);
    box-shadow:none;
    transition: 150ms ease-in-out;
}
