# ==============================================================================
# FIREFOX SPECIFIC SETTINGS
# ==============================================================================

style "ff-default" {
	GtkCheckButton::indicator-size = 14

	####################
	# Color Definitions color para Plane
	####################
	#bg[NORMAL]        = "#F2F1F0"
	#bg[PRELIGHT]      = shade (1.02, "#F2F1F0")
	#bg[SELECTED]      = @selected_bg_color
	#bg[INSENSITIVE]   = shade (0.95, "#F2F1F0")
	#bg[ACTIVE]        = shade (0.9, "#F2F1F0")

	#fg[NORMAL]        = "#4c4c4c"
	#fg[PRELIGHT]      = "#4c4c4c"
	#fg[SELECTED]      = @selected_fg_color
	#fg[INSENSITIVE]   = darker ("#4c4c4c")
	#fg[ACTIVE]        = "#4c4c4c"

	#text[NORMAL]      = "#3C3C3C"
	#text[PRELIGHT]    = "#3C3C3C"
	#text[SELECTED]    = @selected_fg_color
	#text[INSENSITIVE] = shade (0.8, "#3C3C3C")
	#text[ACTIVE]      = darker ("#3C3C3C")

	#base[NORMAL]      = "#F2F1F0"
	#base[PRELIGHT]    = shade (0.98, "#F2F1F0")
	#base[SELECTED]    = @selected_bg_color
	#base[INSENSITIVE] = shade (0.97, "#F2F1F0")
	#base[ACTIVE]      = shade (0.94, "#F2F1F0")

	engine "murrine" {
		reliefstyle = 0
	}
}


#widget	"MozillaGtkWidget*Toolbar*"		style	"theme-toolbar"
#widget	"MozillaGtkWidget*Statusbar*"	style	"ff-statusbar"

widget	"MozillaGtkWidget*"	style	"ff-default"

# ------------------------------------------------------------------------------
# Some Firefox (3.0/3.5) GTK widgets hierarchy (maybe useful for someone)
# ------------------------------------------------------------------------------

# Top toolbars (and maybe others)
#widget	"MozillaGtkWidget.GtkFixed.GtkHandleBox.GtkToolbar"	style	"theme-dark-toolbar"

# Findbar entry, gecko (all html) entry
#widget	"MozillaGtkWidget.GtkFixed.GtkEntry"	style	"theme-dark-entry"

# ALL buttons
#widget	"MozillaGtkWidget.GtkFixed.GtkButton"	style	"theme-dark-button"

